.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    margin: 0;
    padding: 0;
}

.text {
    margin-bottom: 50px;
}

li,
p {
    font-family: 'Secular One', sans-serif;
}

p {
    font-size: 1.6em;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

li {
    line-height: 1.6em;
}

.card {
    width: 50%;
    height: 350px;
    background-image: url("../images/background.jpg");
}
.card-border {
    border-top: black solid 15px;
    border-bottom: black solid 15px;
    border-radius: 15px;
}

.inner-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.one {
    justify-content: space-between;
    height: 40px;
    margin-top: 5px;
}

.card-header {
    margin-left: 50px;
}

.icon {
    height: 100%;
    width: 10%;
    margin-top: 5px;
    margin-right: 20px;
}

img {
    max-width: 80%;
    height: auto;
    color: #E0E1E8;
}

.two {
    justify-content: center;
}

.card-number {
    width: 75%;
    height: 30px;
    margin-right: 10px;
}

.card-number,
.btn {
    margin-top: 70px;
}

.card-number,
.card-type {
    background-color: #E0E1E8;
}

.btn {
    background-color: #000000;
    color: #E0E1E8;
}

.another-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 150px;
    margin-top: -50px;
}

.card-type {
    margin-right: 50px;
    margin-bottom: 10px;
    width: 13%;
    height: 30%;
}
.card-type-border {
    border: black solid 1px;
}

.amex {
    background-image: url("../images/amex.png");
}

.master {
    background-image: url("../images/master.png");
}

.visa {
    background-image: url("../images/visa.png");
}

.other {
    background-image: url("../images/exclam.jpg")
}

.amex,
.visa,
.master,
.other {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media all and (min-width: 1650px) {
	.card{
		width: 40%;
	}
    .card-type {
        height: 55px;
    }
}
@media all and (max-width: 1100px) {
	.another-container {
    	margin-top: -80px;
	}
	.card-type {
        margin-bottom: 10px;
        height: 28%;
    }
}
@media all and (max-width: 950px) {
	.card{
		width: 70%;
	}
}
@media all and (max-width: 600px) {

	p{
		font-size: 1.3em;
	}
	.card{
		width: 80%;
		height: 200px;
	}
	.card-header{
		margin-left: 20px;
	}
	.inner-container{
		margin-top: -10px;
	}
	.icon{
		margin-top: 20px;
	}
	.card-number,
	.btn {
    	margin-top: 70px;
	}
	.card-number{
		height: 20px;
	}
	.card-type{
		height: 23%;
	}
}
@media all and (max-width: 450px) {
	.text{
		margin-bottom: 15px;
	}
	p{
		font-size: 0.9em;
	}
	li {
    	line-height: 1em;
    	margin-bottom: 5px;
	}

	.card{
		width: 90%;
	}
	.card-number{
		margin-left: 5px;
	}
	.btn{
		margin-right: 5px;
	}
	.card-type{
		width: 18%;
		margin-right: 20px;
	}
}



